<h1><%=@event.name %></h1>
<h2><%=@event.max  %> competitors can compete</h2>
<form>
<label for="knight">Knights:</label>
<select name="knight">
    <% @list.knights.each do |knight|%>
        <option value="<%= knight.id %>"><%= knight.name %></option>
    <% end %>
 <input type='submit' value="Add Knight">
</form>

<h2>Current competitors! <%=@event.competitor_count%>/<%=@event.max%></h2>
<% if @event.competitor_count == 0 %>

    <h2>No competitors yet.</h2>

<% else %>
    <% @events.competitors.each do |competitor| %>
    <div class="order">
    <b><a href="/knights/<%=competitor.id%>"><%= competitor.name()%></a></b>
    <div class = "thumbnail_sizer"><a href="/knights/<%= competitor.id%>"><img class = "thumbnail" src="<%=competitor.img%>"></a></div>
    </div>
    <%end%>
<% end %>





