<h2>Events</h2>

<% @events.each do |event| %>
 <div class="miniknight">
 <b><a href="/events/<%=event.id%>"><%= event.name()%></a></b>
 <p>Event type: <%= event.type()%></p>
 <p>Event group: <%= event.family()%></p>
 <p>Max Competitors: <%= event.max()%></p>
 <div class = "flag_sizer"><a href="/events/<%= event.id%>"><img class = "thumbnail" src="<%=event.img%>"></a></div>
 <hr>
 </div>
<%end%>