<p><%=@event.name%></p>
<div class = "thumbnail_sizer"><img class = "thumbnail" src="<%=@event.img%>"></div>
<p>Prize of <%= @event.prize %> goes to first place!</p>
<p>Event date: <%=@event.event_date%><hr>
<%@positions.each do |position|  %>
     <%=position[0].name%> finished in position <%=position[1]%> for the <%=position[0].get_kingdom_name%><br>
     <br>
<%end  %>

<% if @event.ran == false %>
<a href="/events/<%=@event.id%>/edit">Edit Event</a>
<br>
<form action="/stage" method="post">
<input type="radio" name="type" value="<%=@event.id%>" checked><br>
<input type="submit" value="Stage Event">
<% end  %>
<hr>
<form action="/events/<%=@event.id%>/delete" method="post">
<input type="submit" value="Delete Event">
</form>