<p><%=@event.name%></p>
<div class = "thumbnail_sizer"><img class = "thumbnail" src="<%=@event.img%>"></div>
<p>Prize of <%= @event.prize %> goes to first place!</p>
<%@positions.each do |position|  %>
     <%=position[0].name%> finished in position <%=position[1]%> for the <%=Kingdom.find(position[0].nation_id).name%><br>
     <br>
<%end  %>

<a href="/events/<%=@event.id%>/edit">Edit Event</a>
<hr>
<form action="/events/<%=@event.id%>/delete" method="post">
<input type="submit" value="DeleteEvent">
</form>