<div class = "stable">
<%= erb :'knights/stables' %>
<hr>
</div>

<h2>Knights</h2>
<div class= 'leftsearch'>
  <form action="/knights/search" method="get">
  <label for="search">Find a knight</label><br>
  <input type="text" name="search" placeholder="Search..">
  <input type="submit" value="Search">
</form>
</div>

<% @knights.each do |knight| %>
 <div class="miniknight">
 <p><a href="/knights/<%=knight.id%>"><%= knight.name()%> of the <%= Kingdom.find(knight.nation_id).name%></a></p>
<%knight.get_trophies%>
 <p>trophy count: <%=knight.trophy_count%> points: <%= knight.get_points %>
 <div class = "mini_portrait"><a href="/knights/<%= knight.id%>"><img class = "thumbnail" src="<%=knight.img%>"></a></div>
 </div>
<%end%>